<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level two</title>
    <link rel="stylesheet" href="{% static 'css/first_app.css' %}">
</head>
<body>
    <h1>Hello welcome to Django level two</h1>
    <h2>Here are your access records:</h2>

    <div class="table-wrapper">
        {% if access_records %}
            <table>
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Date Accessed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acc in access_records %}
                        <tr>
                            <td>{{ acc.name }}</td>
                            <td>{{ acc.date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}
    </div>
</body>
</html>
